#cont {
    
    margin: 35px auto;
    width: fit-content;
}
ul {
    list-style: none;
    justify-content: space-around; 
    display: flex;
    padding-left: 0;  
}

a {
    padding: 16px;
    background-color: #43ade1;
    margin: 3px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    background-color: #fa9b0f;
}
#myPic {
    margin: 35px auto;
    width: fit-content;
}